/* the header */
.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation a {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    display: block;
}

/* the whole page */
body {
    font-family: 'Courier New', monospace;
    background-color: #0b0c0c;
    color: #ffffff;
    background-image: url('../Images/plane2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* the board */
.departure-board {
    width: 100%;
    text-align: left;
    margin: auto;
    border-collapse: collapse;
}

/* common styling for table headers and cells */
.departure-board th, .departure-board td {
    padding: 8px;
    border: 1px solid #777;
}

/* specific styling for table header */
.departure-board th {
    background-color: #1a1a1a;
}

/* specific styling for cells */
.departure-board td {
    background-color: #333;
}

/* styling for every other table row */
.departure-board tr:nth-child(even) td {
    background-color: #252525;
}

/* styling header */
.flight-header {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #ff0000;
}

/* styling for clock */
.clock-style {
    font-size: 30px;
    font-weight: bold;
    color: #ff0000;
    text-align: left;
}
