body {
    font-family: 'Courier New', monospace;
    background-color: #0b0c0c;
    color: #ffffff;
}

.departure-board {
    width: 100%;
    text-align: left;
    margin: auto;
    border-collapse: collapse;
}

.departure-board th, .departure-board td {
    padding: 8px;
    border: 1px solid #777;
}

.departure-board th {
    background-color: #1a1a1a;
}

.departure-board td {
    background-color: #333;
}

.departure-board tr:nth-child(even) td {
    background-color: #252525;
}

.flight-header {
    text-align: center;
    margin: 20px 0;
}

.clock-style{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top:10px;
}
